<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjy.study.myjpas.mapper.XhhProjectDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xjy.study.myjpas.entity.mybatis.XhhProjectDetail">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="detail_describe" property="detailDescribe" />
        <result column="creator_id" property="creatorId" />
        <result column="updater_id" property="updaterId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="publish_date" property="publishDate" />
        <result column="address_id" property="addressId" />
        <result column="user_id" property="userId" />
        <result column="times" property="times" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, detail_describe, creator_id, updater_id, create_time, update_time, is_delete, publish_date, address_id, user_id, times
    </sql>

</mapper>
